/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

.container {
    width: 80%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Intestazione */

header {
    margin: 30px 0;
}

.logo-img {
    margin-bottom: 30px;
    height: 70px;
    padding-right: 20px;
    border-right: 2px solid lightgray;
}

/* Barra di navigazione */

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 20px;
    color: gray;
}

/* Main */

.upper-section {
    height: 500px;
    background-color: #e1d67a;
}

.lower-section {
    height: 650px;
    margin-top: 25px;
    background-color: #008dff;
}

.top, .col-left, .col-center, .col-right {
    background-color: #abcfe7;

}

.lower-section > .top {
    height: 100px;
}

.lower-section > .columns {
    margin: 20px 0;
}

.col-left, .col-center, .col-right {
    float: left;
    height: 510px;
}

.col-left, .col-right {
    width: 20%;
}

.col-center {
    width: calc( 60% - 30px);
    margin: 0 15px;
}

footer {
    height: 80px;
    margin: 15px 0;
    background-color: #8801fe;
}

