/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

.container {
    width: 60%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Intestazione */

header {
    margin: 30px 0;
}

.logo-img {
    margin-bottom: 30px;
    height: 70px;
    padding-right: 20px;
    border-right: 2px solid lightgray;
}

/* Barra di navigazione */

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 20px;
    color: gray;
}

/* Main */

.hero {
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.hero-text {
    width: 50%;
    position: absolute;
    left: 50px;
    bottom: 70px;
}

.hero-text > div {
    color: white;
}

.hero-text div:first-child {
    font-size: 30px;
}

.lower-section {
    height: 650px;
    margin-top: 25px;
    background-color: #008dff;
}

.top, .col-left, .col-center, .col-right {
    background-color: #abcfe7;

}

.lower-section > .top {
    height: 100px;
}

.lower-section > .columns {
    margin: 20px 0;
}

.col-left, .col-center, .col-right {
    float: left;
    height: 510px;
}

.col-left, .col-right {
    width: 20%;
}

.col-center {
    width: calc( 60% - 30px);
    margin: 0 15px;
}

footer {
    height: 80px;
    margin: 15px 0;
    background-color: #8801fe;
}

