/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

.container {
    width: 60%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Intestazione */

header {
    margin: 30px 0;
}

.logo-img {
    margin-bottom: 30px;
    height: 70px;
    padding-right: 20px;
    border-right: 2px solid lightgray;
}

/* Barra di navigazione */

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 20px;
    color: gray;
}

/* Main */

.hero {
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.hero-text {
    width: 50%;
    position: absolute;
    left: 50px;
    bottom: 70px;
}

.hero-text > div {
    color: white;
}

.hero-text div:first-child {
    font-size: 30px;
}

.leadership {
    margin-top: 25px;
}

.leadership-header > .title {
    font-size: 40px;
}

.leadership-header > .sub-title {
    color: gray;
}

.leadership > .row {
    padding: 20px 0;
}

.col-left, .col-center, .col-right {
    float: left;
}

.col-left, .col-right {
    width: 20%;
}

.col-center {
    width: calc( 60% - 30px);
    margin: 0 15px;
}

.img-left, .img-center, .img-right {
    height: 200px;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;

} 

.img-left {
    background-image: url(../img/img-1.jpg);
}

.img-center {
    background-image: url(../img/banner-2.jpg);
}

.img-right {
    background-image: url(../img/img-3.jpg);
}

.row-title {
    margin: 15px 0 10px 0;
}

.row-text {
    color: gray;
}

footer {
    height: 80px;
    margin: 15px 0;
    background-color: #8801fe;
}

